.our-guests {
    .swiper-slide {
        text-align: center;
    }

    &__img {
        height: rem(400);
        max-width: rem(400);
        width: 100%;
        object-fit: cover;
    }
}

.gallery-item {
    img {
        border-radius: rem(4);
    }
}

.lg-backdrop {
    background-color: rgba(0, 0, 0, 0.85) !important;
}

.lg-item {
    top: 50% !important;
    transform: translateY(-35%) !important;
}