.profile {
    background: #F4F4F4;
    padding-top: rem(80);
    padding-bottom: rem(100);

    &-box {
        background: white;
        padding: rem(50) rem(150);
        max-width: rem(1110);
        margin: auto;

        &__user {
            display: flex;
            align-items: center;
            gap: rem(24);
            margin-bottom: rem(36);
        }

        &__avatar {
            width: rem(90);
            height: rem(90);

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        &__name {
            @include font(20, 600, 24);
            margin-bottom: rem(6);
        }

        &__manager {
            @include font(18, 400, 21);
        }

        .btn-discard {
            background: #EFEFEF;
            border-radius: rem(4);
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            color: $dark  !important;
            height: rem(40);
            margin-top: rem(20);

            &:hover {
                background: #e1e1e1;
            }
        }

        .btn-save {
            background: #5F1464;
            border-radius: rem(4);
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            color: white !important;
            height: rem(40);
            margin-top: rem(20);

            &:hover {
                background: #4b0c50;
            }
        }
    }

    .phone-input {
        display: flex;
        border: 1px solid #DFDFDF;
        border-radius: 4px;

        .ss-main {
            width: rem(80);
            flex-shrink: 0;

            .ss-single-selected {
                border: none;
            }
        }

        .d-input {
            border: none;
            padding-left: 0;
        }
    }

    .ss-content {
        .ss-search {
            padding: rem(4);

            input {
                font-size: rem(13);
                padding: 0;
                padding-left: rem(5);
            }
        }

        .ss-list {
            .ss-option {
                font-size: rem(14);
            }
        }
    }

    .ss-main {
        .ss-single-selected {
            color: $dark;

            .ss-arrow {
                span {
                    border-color: $dark;
                }
            }
        }

        .placeholder {
            font-size: rem(14);
        }
    }

    .d-input {
        font-size: rem(14) !important;
    }

    .row {
        --bs-gutter-y: 1rem;
    }

    @include breakpoint-max($desktop-width) {
        &-box {
            padding: rem(50);
        }
    }

    @include breakpoint-max($tablet-width) {
        padding-top: rem(30);
        padding-bottom: rem(30);
        height: 100vh;

        &-box {
            padding: rem(20) rem(16);

            &__user{
                margin-bottom: rem(24);
                gap: rem(16);
            }

            &__avatar {
                width: rem(60);
                height: rem(60);
            }

            &__name {
                font-size: rem(16);
                margin-bottom: 0;
            }

            &__manager {
                font-size: rem(14);
            }

            .btn-discard,
            .btn-save {
                margin-top: 0;
            }
        }
    }
}